<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>18/10/27 18:15:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginLogout.setData()[pri:0, instance:testCases.TC001_LoginLogout@4e1d422d]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/27 18:15:39</td>   <td>641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testCases.TC001_LoginLogout@4e1d422d]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/27 18:15:43</td>   <td>5233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogout.loginLogout(java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_LoginLogout@4e1d422d]">loginLogout</td> 
  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/27 18:15:45</td>   <td>7114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCases.TC001_LoginLogout@4e1d422d]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/27 18:15:49</td>   <td>11045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testCases.TC001_LoginLogout@4e1d422d]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/10/27 18:15:52</td>   <td>14074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogout.loginLogout(java.lang.String, java.lang.String)[pri:0, instance:testCases.TC001_LoginLogout@4e1d422d]">loginLogout</td> 
  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="ab7c62">  <td>18/10/27 18:15:54</td>   <td>15767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testCases.TC001_LoginLogout@4e1d422d]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
</table>
