<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dabbc">  <td>18/10/21 10:36:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLeads.CrLeads(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week4.day2.CreateLeads@5ce81285]">CrLeads</td> 
  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/21 10:36:39</td>   <td>11218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:week4.day2.CreateLeads@5ce81285]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
<tr bgcolor="628fdf">  <td>18/10/21 10:36:21</td>   <td>-6999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week4.day2.CreateLeads@5ce81285]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@817406040</td>   <td></td> </tr>
</table>
